.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  bottom: 80px;
  width: 60%;
  margin: 0 auto;
  gap: 6rem;
}

.login-img-container {
  display: flex;
  justify-content: center;
  width: 40%;
}

.login-form {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 1rem;
}

.login-form input {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem auto;
  border: 1px solid #a7a6a6;
}

button.google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

form p {
  margin: 1rem auto;
}

.reset-links {
  display: flex;
  justify-content: space-between;
}
