.container {
  display: flex;
}

.filter {
  width: 30%;
}

.content {
  width: 70%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.sort {
  display: flex;
  align-items: center;
}

.sort select {
  margin-bottom: 0;
  font-size: 1rem;
}

.search {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 20rem;
}
