@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

:root {
  --primary: #04046e;
  --secondary: #05c305;
  --white: #fff;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
}

.logo {
  width: 170px;
}

header {
  height: 100px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.nav-items a {
  color: var(--secondary);
}

.logo {
  width: 170px;
}

.nav-items {
  font-size: 1.5rem;
  color: var(--secondary);
  padding: 0.5rem;
  margin: 0.5rem;
}

.nav-items a:hover,
.links a:nth-child(2):hover,
.links a:nth-child(3):hover {
  border-bottom: 2px solid var(--white);
  transition: border 0.2s ease-in-out;
}

.active-link {
  border-bottom: 2px solid var(--white);
}

.nav-menu {
  display: flex;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.links a {
  color: var(--white);
}

.links a:first-child,
.links a:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a:hover {
  color: var(--secondary);
}

.cart-icon {
  display: flex;
}

.cart-icon p {
  transform: translateY(-0.5rem);
  font-size: 0.8rem;
}

.mobile {
  display: none;
}

.mobile-menu-header {
  display: none;
}

footer {
  /* height: 80px; */
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  padding: 2rem;
}

.btn {
  padding: 1rem;
  font-size: 1rem;
  margin: 0.5rem auto;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: #3535f1;
  color: var(--white);
}

.btn-danger {
  background-color: #f14d4d;
  color: var(--white);
}

.login-img-container img {
  width: 500px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-items {
    font-size: 1rem;
    padding: 0.2rem;
  }

  .links {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 0;
    transition: all 0.5s ease-in;
    width: 60%;
    height: 100vh;
    background-color: var(--primary);
    padding-top: 1.5rem;
    padding-left: 2rem;
  }

  .nav-menu.active {
    left: 0;
    transition: all 0.5s ease-in;
    z-index: 2;
  }

  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }

  .mobile-menu-header img {
    width: 100px;
  }

  .close-menu {
    font-size: 1.8rem;
    color: var(--white);
    margin-right: 2rem;
  }

  .links {
    display: none;
  }

  .mobile {
    display: flex;
    gap: 1.8rem;
    justify-content: center;
  }

  .mobile-icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .cart-icon,
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--white);
  }

  .cart-icon p {
    font-size: 1rem;
    transform: translateY(-0.7rem);
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: -100%;
    top: 0;
    transition: all 0.5s ease-in;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .overlay.active {
    left: 0;
    transition: all 0.5s ease-in;
  }
}
